/*game container */
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    float: left;
} 

#game {
    height: 1000px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    background-color: pink;
    position: relative;
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 600px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

#reset-btn{
    display: none;
}