* {
    padding: 0px;
    margin: 0px;
}
/*game container */
#game {
    height:600px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    background-color: pink;
    display: block;
    position: relative;;
}

#ball {
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}
.block {
    width:500px;
    height:20px;
    background-color: black;
    position:relative;
    top: 100px;
    margin-top: -20px;
}
.hole {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.block1 {
    width:500px;
    height:20px;
    background-color: black;
    position:relative;
    top: 200px;
    margin-top: -20px;
}
.hole1 {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 200px;
    margin-top: -20px;
}
.block2 {
    width:500px;
    height:20px;
    background-color: black;
    position:relative;
    top: 300px;
    margin-top: -20px;
}
.hole2 {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 300px;
    margin-top: -20px;
}
.block3 {
    width:500px;
    height:20px;
    background-color: black;
    position:relative;
    top: 400px;
    margin-top: -20px;
}
.hole3 {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 400px;
    margin-top: -20px;
}
